.box{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    filter: drop-shadow(2px 2px  4px black);
    margin-top: 50px;
    margin-bottom: 60px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
tbody  th{
   padding-left: 10px;
   
}
.th-up{
    border-bottom: 2px solid black;
}
.button{
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    background-color: rgb(144, 157, 191);
    filter: drop-shadow(0px 3px 5px black);
    transition: 0.9s;
}
.button:hover{
    transition: 0.7s;
    transform: translateY(-4px);
}
.button:active{
    transform: translateY(2px);
    transition: 0.4s;
}
.result{
    border-radius: 20px;
    border: none;
    filter: drop-shadow(0px 3px 5px black);
    padding: 10px;
    outline: none;
    margin-top: 20px;
}

.rad-btn{
    width: 20px;
    height: 20px;
}